@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --white-1: hsl(0, 0%, 99%);
    --white-2: hsl(0, 0%, 94%);
    --white-3: hsl(0, 0%, 84%);

    --black-1: hsl(0, 0%, 14%);
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box !important;
}

html,
body {
    width: 100%;
    min-height: 100vh;

    font-family: "Inter", monospace;
    color: var(--black-1);
    background-color: var(--white-2);
}

/*  */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: .4rem 10%;

    width: 100%;
    height: 4rem;
    background-color: #232323;

    color: var(--white-1);
}

.header__title {
    display: flex;
    flex-direction: column;
}

.header__title-text {
    font-size: 1.2rem;
}

.header__title-url {
    font-size: .8rem;
}

.header__title-url>a {
    color: var(--white-3);
    text-decoration: none;
}

/*  */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    padding: 2rem 12%;

    min-height: 100vh;
}

/*  */

.categories {
    display: flex;
    align-items: center;
    gap: .4rem;

    padding: 1rem;
}

.categories__button {
    display: grid;
    place-items: center;

    padding: .5rem .8rem .4rem;
    border-radius: .3rem;

    font-size: 1rem;

    color: var(--black-1);
    border: 1px solid var(--black-1);
    background-color: transparent;

    cursor: pointer;
    transition: all 0.2s ease;
}

.categories__button.active {
    color: var(--white-3);
    border: 1px solid var(--black-1);
    background-color: var(--black-1);

    transition: all 0.2s ease;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .8rem;
}

.products__product-card {
    display: flex;
    flex-direction: column;

    width: 240px;


    border-radius: .6rem;

    background-color: var(--white-1);


    animation: show .6s forwards;
}

@keyframes show {
    0% {
        display: none;
        opacity: 0;
        transform: translateY(-16px);
    }

    75% {
        opacity: 1;
    }


    100% {
        display: flex;
        transform: translateY(0px);
    }
}

.product-card__img-box {
    width: 100%;
    height: 240px;

    border-radius: .6rem .6rem 0 0;
    overflow: hidden;
}

.product-card__img {
    width: 100%;

    object-fit: cover;
    object-position: 50% 50%;

    border-radius: .6rem .6rem 0 0;

    transition: all .8s ease;

}

.product-card__img:hover {
    transform: scale(1.08);
}


.product-card__title-box {
    display: flex;
    align-items: start;
    justify-content: space-between;

    padding: .8rem 1rem;
}

.title-box__title {
    font-size: 1rem;
}

.title-box__price {
    display: grid;
    place-items: center;

    padding: .1rem .3rem .18rem;
    border-radius: .2rem;

    font-size: .7rem;
    font-weight: 600;

    background-color: var(--black-1);
    color: var(--white-2);
}

.product-card__info-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem 1rem;

}

.info-box__overview {
    font-size: .8rem;
    color: gray;
    max-height: 60px;

    overflow: hidden;
    /* Oculta el desbordamiento del texto */
    text-overflow: ellipsis;
}